{
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,

    "trailingComma": "none",
    "importOrder": [
        "server-only",
        "^@core/(.*)$",
        "^next$",
        "^next/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "^@server/(.*)$",
        "^@ui/(.*)$",
        "^[./]"
    ]
}
