@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.5rem;
    --background: #ffffff;
    --foreground: #141413;

    --primary: #934eef;
    --primary-foreground: #ffffff;
    --secondary: #f8d267;
    --secondary-foreground: #141413;
    /*提示类*/
    --success: #32863e;
    --success-foreground: #141413;
    --warning: #f2bf42;
    --warning-foreground: #141413;
    --danger: #e12619;
    --danger-foreground: #141413;
    --destructive: var(--danger);
    --destructive-foreground: var(--danger-foreground);
    --info: #5072f6;
    --info-foreground: #141413;
    --ring: var(--primary);
    --input: var(--color-light-grey);
    /*
        以下为预留变量
    */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --border: oklch(0.922 0 0);

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: #141413;
    --foreground: #ffffff;
    --primary: #934eef;
    --primary-foreground: #ffffff;
    --secondary: #f8d267;
    --secondary-foreground: #141413;
    /*提示类*/
    --success: #32863e;
    --success-foreground: #141413;
    --warning: #f2bf42;
    --warning-foreground: #141413;
    --danger: #e12619;
    --danger-foreground: #141413;
    --destructive: var(--danger);
    --destructive-foreground: var(--danger-foreground);
    --info: #5072f6;
    --info-foreground: #141413;
    --ring: var(--primary);
    --input: #141413;
    /*
        以下为预留变量
    */
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --border: oklch(1 0 0 / 10%);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --font-sans: var(--font-next-sans);
    --font-mono: var(--font-next-mono);

    --breakpoint-xs: 480px;
    /* --breakpoint-sm: initial; */
    --breakpoint-md: 810px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1440px;
    --breakpoint-2xl: initial;

    --radius-5xl: 40px;
    --radius-6xl: 48px;
    --radius-7xl: 56px;
    --radius-8xl: 64px;

    --color-theming: #9e61f0;
    --color-theming-bg: #e8eaff;
    --color-theming-text: #934eef;

    --color-light: #fff;
    --color-light-text: #9e61f0;
    --color-light-grey: #f9f9f9;

    --color-dark: #141413;
    --color-dark-text: #8f4fe3;
    --color-dark-grey: #231339;
    --color-grey-md: #d9d9d9;
    --color-md-bg: #f2f2f2;
    --color-black-900: #1a1a1a;
    --color-unisex-grey: #333333;

    --color-secondary-text: #848484;
    --color-border-dark: #f9f9f9;
    --color-border-disabled: #848484;
    --color-border-md: #d9d9d9;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-danger: var(--danger);
    --color-danger-foreground: var(--danger-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply box-border;
    }
    body {
        @apply bg-light-grey text-foreground;
    }
}

@utility box-pl {
    @apply pl-3 md:pl-6 lg:pl-6 xl:pl-12;
}

@utility box-pl-0 {
    @apply pl-0 md:pl-0 lg:pl-0 xl:pl-0;
}

@utility box-pr {
    @apply pr-3 md:pr-6 lg:pr-6 xl:pr-12;
}

@utility box-pr-0 {
    @apply pr-0 md:pr-0 lg:pr-0 xl:pr-0;
}

@utility box-normal {
    @apply mx-auto w-full max-w-screen-xl shrink-0;
}

@utility box-px-normal {
    @apply box-pl box-pr;
}

@utility box {
    @apply box-pl box-pr box-normal;
}

@utility h-text-default {
    @apply indent-0 tracking-normal;
}

@utility h1 {
    @apply h-text-default font-black;
    font-size: 4.25rem;
    line-height: 1.4em;
}
@utility h2 {
    @apply h-text-default font-black;
    font-size: 3.63rem;
    line-height: 1.2em;
}
@utility h3 {
    @apply h-text-default font-bold;
    font-size: 2.75rem;
    line-height: 1.3em;
}
@utility h4 {
    @apply h-text-default font-bold;
    font-size: 2.125rem;
    line-height: 1.2em;
}
@utility h5 {
    @apply h-text-default font-bold;
    font-size: 1.38rem;
    line-height: 1.5em;
}
@utility h6 {
    @apply h-text-default font-bold;
    font-size: 1.25rem;
    line-height: 1.5em;
}

@utility body-xl {
    @apply font-normal tracking-normal;
    font-size: 1.25rem;
    line-height: 1.65em;
}

@utility body-ml {
    @apply font-bold tracking-normal;
    font-size: 1.125rem;
    line-height: 1.65em;
}

@utility body-l {
    @apply font-normal tracking-normal;
    font-size: 1.125rem;
    line-height: 1.65em;
}

@utility body-m {
    @apply font-bold tracking-normal;
    font-size: 1rem;
    line-height: 1.65em;
}

@utility body-s {
    @apply font-normal tracking-normal;
    font-size: 1rem;
    line-height: 1.5em;
}

@utility body-xs {
    @apply font-normal tracking-normal;
    font-size: 0.875rem;
    line-height: 1.5em;
}

@utility body-xs-md {
    @apply font-medium tracking-normal;
    font-size: 0.875rem;
    line-height: 1.5em;
}

@utility caption {
    @apply font-normal tracking-normal;
    font-size: 0.75rem;
    line-height: 1.2em;
}

@utility box-mt {
    @apply mt-15 md:mt-25 xl:mt-30;
}

@utility grid-con-gap {
    @apply gap-3 md:gap-5 xl:gap-8;
}

@utility grid-normal {
    @apply grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12;
}

@utility grid-con {
    @apply grid-con-gap grid-normal;
}

@utility grid-con-half {
    @apply col-span-2 md:col-span-4 xl:col-span-6;
}

@utility flex-con {
    @apply grid-con-gap flex flex-col items-center justify-center;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        @apply hidden;
    }
}
