@import 'tailwindcss' prefix(cb);
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: var(--font-next-sans);
    --font-mono: var(--font-next-mono);

    /* --breakpoint-xs: 480px; */
    /* --breakpoint-sm: initial; */
    --breakpoint-md: 645px;
    --breakpoint-lg: 885px;
    --breakpoint-xl: 1125px;
    --breakpoint-2xl: initial;

    --radius-5xl: 40px;
    --radius-6xl: 48px;
    --radius-7xl: 56px;
    --radius-8xl: 64px;

    --color-theming: #9e61f0;
    --color-theming-bg: #e8eaff;
    --color-theming-text: #934eef;

    --color-light: #fff;
    --color-light-text: #9e61f0;
    --color-light-grey: #f9f9f9;

    --color-dark: #141413;
    --color-dark-text: #8f4fe3;
    --color-dark-grey: #231339;
    --color-grey-md: #d9d9d9;
    --color-md-bg: #f2f2f2;
    --color-black-900: #1a1a1a;
    --color-unisex-grey: #333333;

    --color-secondary-text: #848484;
    --color-border-dark: #f9f9f9;
    --color-border-disabled: #848484;
    --color-border-md: #d9d9d9;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-danger: var(--danger);
    --color-danger-foreground: var(--danger-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@utility body-l {
    @apply cb:font-normal cb:tracking-normal;
    font-size: 1.125rem;
    line-height: 1.65em;
}

@utility body-m {
    @apply cb:font-normal cb:tracking-normal;
    font-size: 1rem;
    line-height: 1.65em;
}

@utility body-xs-md {
    @apply cb:font-medium cb:tracking-normal;
    font-size: 0.875rem;
    line-height: 1.5em;
}

@utility body-s {
    @apply cb:font-normal cb:tracking-normal;
    font-size: 1rem;
    line-height: 1.5em;
}

@utility caption {
    @apply cb:font-normal cb:tracking-normal;
    font-size: 0.75rem;
    line-height: 1.2em;
}

@utility body-xs {
    @apply cb:font-normal cb:tracking-normal;
    font-size: 0.875rem;
    line-height: 1.5em;
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        @apply cb:hidden;
    }
}
